@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*font-family: 'Exo 2', sans-serif;
font-family: 'Open Sans', sans-serif;*/

/*----------------------------------------------- Site Props ---*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	padding-top: 3.4em;
	background-color: #f2f2f2;
}
body {
	background-image: url('../images/couronne-back.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#page-container {
	position: relative;
	min-height: 100%;
}

#z-front {
	z-index: 1;
}

#z-back {
	z-index: -1;
}

/*----------------------------------------------------- Images---*/
.center-img {
	background: url('../images/couronne-large-transparent-orginal-removebg-preview.png');
	padding: 5em;
	background-repeat: no-repeat;
	align-content: center;
	background-size: contain;
	min-height: 100px;
	margin: auto;
	width: 100%;
}
/*----------------------------------------------------- Colors ---*/

.blueish.h3-text-icon a {
	/* color: #b7cfe1; */
	color: #4282b3;
	color: #af5b5b;
	color: aliceblue;
	color: rosybrown;
}

/*--------------------------------------------  Site Aligns and spaces ---*/

.margins {
	margin-left: 1em;
	margin-right: 0.3em;
}

/*--------------------------------------------------- Fonts ---*/

.exo {
	font-family: 'Exo 2', sans-serif;
}
.sans {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.08em;
	line-height: 2em;
	color: #003f6e;
}

/*--------------------------------------------------- Header ---*/

/*------------------------------------------------------- Header Nav Menu ---*/
nav {
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size: 150%;
}

header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.menu {
	position: relative;
	background-color: #4183b1;
	overflow: hidden;
	max-width: 100%;
	color: transparent;
}

/* Nav Bar */
.menu a {
	font-family: 'Exo 2', sans-serif;
	/* -webkit-text-stroke: 0.3px black; */
	font-size: 150%;
	float: left;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
}

/* Change the color of links on hover */
.menu a:hover {
	color: hsl(0, 0%, 95%);
	font-size: 35.8px;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.menu a.active {
	color: #ffe0e7;
	color: rosybrown;
	color: aliceblue;
}

/* Center-Nav*/
.menu-center a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Left-Nav */
.menu-left {
	float: left;
	padding-left: 5%;
}
/* Right-Nav */
.menu-right {
	float: right;
	padding-right: 5%;
}

/*------------------------------------------------------------------------------- Text Styling ---*/

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	text-transform: uppercase;
	letter-spacing: 4px;
}
h3 {
	margin-left: 0.55em;
	margin-top: 1em;
}

.couronne-style {
	margin: 0.5em 0 0.5em 0;
	color: #4183b1;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
/*++++++++++++++++++------------------------------------+++++++++++++ h3 Text and Icons +++*/

.h3-text-icon {
	color: white;
	font-size: 40px;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	overflow: hidden;
	max-width: 100%;

	/* font-weight: bold; */
}

.h3-text-icon a {
	font-family: 'Exo 2', sans-serif;
	float: left;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
	margin-left: 0.5em;
}

/* Change the color of links on hover */

.h3-text-icon a:hover {
	font-weight: bolder;
	color: #ececec;
}

.h3-text-icon a.active {
	color: rosybrown;
}

/*  ---------------------------------------------------++++++++++++++------ Text Links*/
.italic {
	font-style: italic;
}
.italic a {
	color: rosybrown;
	background-color: transparent;
	text-decoration: none;
}
.italic a:hover {
	font-weight: bolder;
	color: rosybrown;
}
/*  ---------------------------------------------------++++++++++++++------ FlexBox */
.flexbox-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	align-items: flex-start;
}
.flexbox-item {
	width: 100%;
	margin: 0;
	/* border: 1px solid #87655a; */
}
.flexbox-rules {
	min-height: 10px;
	padding: 0em 1em 1em 1em;
}

.flexbox-story {
	min-height: 10px;
	padding: 0em 1em 1em 1em;
}

/* .flexbox-item-social {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;

	margin: auto;
	min-height: 20px;
}

.flexbox-footer-contact {
	min-height: 100px;
	padding: 0em 1em 1em 1em;
} */
/*------------------------------------------------------------- Media Query   ---*/
@media (min-width: 640px) {
	.hideing {
		display: none;
	}
}
@media (max-width: 768px) {
	.fonting-640 {
		font-size: 52px;
		padding: 1em 0em 1em 0em;
	}
}

@media (max-width: 640px) {
	.fonting-640 {
		font-size: 40px;
		margin: 0.3em 0em 0.3em 0em;
	}
	.letter-space {
		line-height: normal;
	}
}

@media (max-width: 576px) {
	html {
		padding-top: 2.5em;
	}

	.hide {
		display: none;
	}
	.couronne-styleing {
		margin: 0.5em 0 0.5em 0;
		color: #4183b1;
		text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	}

	nav {
		font-family: 'Exo 2', sans-serif;

		font-weight: 700;
		font-size: 120%;
	}

	.fonting {
		/* text-shadow: #bb0202 1px 1px; */

		font-family: 'Exo 2', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-size: 36px;
		text-align: center;
		font-weight: bolder;
		margin-top: 1.5em;
		/* margin-bottom: 1.5em; */

		color: #4183b1;
		text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	}
	.flexbox-container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: center;
		/* justify-content: space-between; */
		/*align-items: center;*/
	}
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++ Footer +++++++*/

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

.footer-right {
	float: right;

	padding: 0.4em 0.2em 0 0;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0; /* Footer height */
}
