@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*font-family: 'Exo 2', sans-serif;
font-family: 'Open Sans', sans-serif;*/

/*----------------------------------------------- Site Props ---*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	padding-top: 3.4em;
	background-color: #f2f2f2;
}
body {
	background-image: url('../images/couronne-back.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*----------------------------------------------------- Colors ---*/

.blueish.h3-text-icon a {
	/* color: #b7cfe1; */
	color: #4282b3;
}

/*--------------------------------------------  Site Aligns and spaces ---*/

.z-back {
	z-index: -1;
}
.margins {
	margin-left: 1em;
	margin-right: 0.3em;
}

/*--------------------------------------------------- Fonts ---*/

.exo {
	font-family: 'Exo 2', sans-serif;
}
.sans {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.08em;
	color: #003f6e;
}

/*--------------------------------------------------- Header ---*/
header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
/* .header-area-space {
	padding-bottom: 12px;
	margin-bottom: auto;
} */
/*++++++++++++++++++++++++++++++++++++++++++++++++*/
.center-img {
	background: url('../images/couronne-large-transparent-orginal-removebg-preview.png');
	padding: 5em;
	background-repeat: no-repeat;
	align-content: center;
	background-size: contain;
	min-height: 100px;
	margin: auto;
	width: 100%;
}
/* .cover-area {
	height: 8em;
	background-color: black;
} */

/*++++++++++++++++++++++++++++++++++++++++++++++++*/
/*------------------------------------------------------- Header Nav Menu ---*/
nav {
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size: 150%;
}

.menu {
	position: relative;
	background-color: #4282b3;
	background-color: rgba(0, 49, 130, 0.49);
	overflow: hidden;
	max-width: 100%;
	color: transparent;
}

/* Nav Bar */
.menu a {
	font-family: 'Exo 2', sans-serif;
	/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
	-webkit-text-stroke: 0.3px black;
	font-size: 150%;
	float: left;
	color: #ff3957;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
}

/* Change the color of links on hover */
.menu a:hover {
	color: rgba(34.6 12 64 / 30%);
	color: hsl(0, 0%, 95%);
	font-size: 36px;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.menu a.active {
	/* color: rgba(34.6 12 64 / 30%);
	color: #ffdfe3;
	color: hsla(120, 60%, 70%, 0.3); */
	color: #ececec;
}

/* Center-Nav*/
.menu-center a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Left-Nav */
.menu-left {
	float: left;
	padding-left: 5%;
}
/* Right-Nav */
.menu-right {
	float: right;
	padding-right: 5%;
}

/*-------------------------------------------- Text Styling ---*/

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	text-transform: uppercase;
	letter-spacing: 4px;
}
h3 {
	margin-left: 0.55em;
	margin-top: 1em;
}
/*+++++++++++++++++++++++++++++++ h3 Text and Icons +++*/
.h3-text-icon {
	color: white;
	font-size: 36px;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	overflow: hidden;
	max-width: 100%;
	font-weight: bold;
}

/* Nav Bar */
.h3-text-icon a {
	font-family: 'Exo 2', sans-serif;
	float: left;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
}

/* Change the color of links on hover */

.h3-text-icon a:hover {
	font-weight: bolder;
	color: #ececec;
}

.h3-text-icon a.active {
	color: rosybrown;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
.flexbox-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	align-items: flex-start;
}
.flexbox-item {
	width: 100%;
	margin: 0;
	/* border: 1px solid #87655a; */
}
.flexbox-rules {
	min-height: 10px;
	padding: 0em 1em 1em 1em;
}
/* .flexbox-item-2 {
	min-height: 100px;
	padding: 1em;

} */
.flexbox-story {
	min-height: 10px;
	padding: 0em 1em 1em 1em;
}

.flexbox-item-footer {
	background-color: rgba(0, 49, 130, 0.49);

	/* margin-top: 50px;
	
	position:sticky; */
	margin: auto;
}
/*------------------------------------------------------------- Media Query   ---*/
/* @media (min-width: 1200px) {
	.flexbox-item-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 5rem;
	}
} */

@media (max-width: 768px) {
	.fonting-640 {
		font-size: 52px;
		padding: 1em 0em 1em 0em;
	}
}

@media (max-width: 640px) {
	.fonting-640 {
		font-size: 40px;
		padding: 1em 0em 1em 0em;
	}
}

@media (max-width: 576px) {
	html {
		padding-top: 2.5em;
	}

	.hide {
		display: none;
	}

	nav {
		font-family: 'Exo 2', sans-serif;
		font-weight: 700;
		font-size: 120%;
	}

	.fonting {
		text-shadow: #bb0202 1px 1px;
		font-size: 24px;
		font-weight: bolder;
		margin-top: 3em;
		margin-bottom: 3em;
	}
	.flexbox-container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: center;
		/* justify-content: space-between; */
		/*align-items: center;*/
	}
}
/*++++++++++++++++++++++++++++++ More colors*/

.sea-green {
	color: rgba(62, 136, 91, 1);
}
.cultured {
	color: rgba(242, 242, 242, 1);
}
.indigo-dye {
	color: rgba(33, 65, 89, 1);
}
.tomato {
	color: rgba(254, 101, 79, 1);
}
.red-salsa {
	color: rgba(240, 58, 71, 1);
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /* Footer height */
}
