@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*font-family: 'Exo 2', sans-serif;
font-family: 'Open Sans', sans-serif;*/

/*----------------------------------------------- Site Props ---*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	padding-top: 3.4em;
	background-color: #f2f2f2;
}
body {
	background-image: url('../images/couronne-back.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
ul {
	padding-left: 1em;
}

iframe {
	margin-top: 1em;
	width: 360px;
	height: 200px;
	border-radius: 0.5em;
}

#page-container {
	position: relative;
	min-height: 100%;
}

#z-front {
	z-index: 1;
}

#z-back {
	z-index: -1;
}

/*----------------------------------------------------- Images---*/
.index-img {
	background: url('../images/couronne-large-transparent-orginal-removebg-preview.png');

	padding: 5em;
	background-repeat: no-repeat;
	align-content: center;
	background-size: contain;
	min-height: 10px;
	margin: auto;
	width: 100%;
}
.rules-img {
	background: url('../images/couronne-rules.png');

	padding: 5em;
	background-repeat: no-repeat;
	align-content: center;
	background-size: contain;
	min-height: 10px;
	margin: auto;
	width: 100%;
}

.story-img {
	background: url('../images/couronne-ringar.png');

	padding: 5em;
	background-repeat: no-repeat;
	align-content: center;
	background-size: contain;
	min-height: 10px;
	margin: auto;
	width: 100%;
}
.movie {
	margin: auto;
}
/*----------------------------------------------------- Colors ---*/

.brownish.h3-text-icon a {
	color: rosybrown;
}
.blueish.h3-text-icon a {
	color: #237386;
}

/*--------------------------------------------  Site Aligns and spaces ---*/

.margins {
	margin-left: 1em;
	margin-right: 1em;
}
.margin-left {
	margin-top: 0em;
	margin-left: 1em;
	margin-right: 1em;
}

/*--------------------------------------------------- Fonts ---*/

.exo {
	font-family: 'Exo 2', sans-serif;
}
.sans {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.08em;
	line-height: 2em;
}

/*--------------------------------------------------- Header ---*/

/*------------------------------------------------------- Header Nav Menu ---*/
nav {
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size: 160%;
}

header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.menu {
	position: relative;

	background-color: #237386;
	overflow: hidden;
	max-width: 100%;
	color: transparent;
}

/* Nav Bar */
.menu a {
	font-family: 'Exo 2', sans-serif;

	font-size: 150%;
	float: left;
	color: #fff;

	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
}

/* Change the color of links on hover */
.menu a:hover {
	color: rosybrown;

	text-shadow: -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.menu a.active {
	color: rgb(184, 184, 184);
}

/* Center-Nav*/
.menu-center a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Left-Nav */
.menu-left {
	float: left;
	padding-left: 5%;
}
/* Right-Nav */
.menu-right {
	float: right;
	padding-right: 5%;
}

/*------------------------------------------------------------------------------- Text Styling ---*/

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

	text-transform: uppercase;
	letter-spacing: 4px;
}
h3 {
	margin-left: 0.55em;
	margin-top: 1em;
}

.couronne-style {
	margin: 0.5em 0 0.5em 0;
	color: #237386;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
/*++++++++++++++++++------------------------------------+++++++++++++ h3 Text and Icons +++*/

.h3-text-icon {
	color: white;
	font-size: 40px;
	font-weight: bold;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	overflow: hidden;
	max-width: 100%;

	/* font-weight: bold; */
}

.h3-text-icon a {
	font-family: 'Exo 2', sans-serif;
	float: left;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
	margin-left: 0.5em;
}

/* Change the color of links on hover */

.h3-text-icon a:hover {
	font-weight: bolder;
	color: #ececec;
}

.h3-text-icon a.active {
	color: rosybrown;
}

/*  ---------------------------------------------------++++++++++++++------ Text Links*/
.italic {
	font-style: italic;
}
.italic a {
	color: rosybrown;
	background-color: transparent;
	text-decoration: none;
}
.italic a:hover {
	font-weight: bolder;
	color: rosybrown;
}
/*  ---------------------------------------------------++++++++++++++------ FlexBox */
.flexbox-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	margin-bottom: 3em;
	align-items: flex-start;
}
.flexbox-item {
	width: 100%;
	margin: 0;
	padding: 1em;
	/* border: 1px solid #87655a; */
}
.flexbox-rules {
	min-height: 10px;
	padding: 0em 1em 1em 1em;
}

.flexbox-story {
	min-height: 10px;
	padding: 0em 1em 1em 1em;
}

/*------------------------------------------------------------- Media Query   ---*/
@media (min-width: 1024px) {
	nav {
		font-size: 180%;
	}
	.menu a {
		letter-spacing: 6px;
		padding: 0 0.6em 0 0.6em;
	}
	.margin-left {
		margin-top: 5em;
		margin-left: 4em;
		margin-right: 4em;
	}
}

@media (min-width: 640px) {
	.hideing {
		display: none;
	}
}
@media (max-width: 768px) {
	.fonting-640 {
		font-size: 52px;
		padding: 1em 0em 1em 0em;
	}
	.hides {
		visibility: hidden;
	}
}

@media (max-width: 640px) {
	.fonting-640 {
		font-size: 40px;
		margin: 0.3em 0em 0.3em 0em;
	}
	.letter-space {
		line-height: normal;
	}
	.margin-left {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.hides-640 {
		display: none;
	}
}

@media (max-width: 639px) {
	html {
		padding-top: 2.5em;
	}

	.hide {
		display: none;
	}
	.couronne-styleing {
		margin: 0.5em 0 0.5em 0;
		color: #4183b1;
		text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	}

	nav {
		font-family: 'Exo 2', sans-serif;

		font-weight: 700;
		font-size: 120%;
	}

	.fonting {
		/* text-shadow: #bb0202 1px 1px; */

		font-family: 'Exo 2', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-size: 36px;
		text-align: center;
		font-weight: bolder;
		margin-top: 1.5em;

		color: #4183b1;
		text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
	}
	.flexbox-container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: center;
	}
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++ Footer +++++++*/

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

.footer-right {
	float: right;

	padding: 0.4em 0.2em 0 0;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0; /* Footer height */
}

/*++++++++++++++++++++++++++++++++++++++++++ Form Section +++++++*/
.form-control {
	padding: 1em;
	margin: 1em;
	background-color: rgba(232, 236, 254, 0.6);
	font-family: 'Open Sans', sans-serif;
}

button[type='submit'] {
	margin-top: 15px;
	margin-bottom: 20px;
	color: #fafafa;
	background-color: #237386;
	font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------------------------- Media Queries Form*/
@media (min-width: 992px) {
	.center-form {
		padding-top: 10px;
		min-height: 240px;
		margin: 0 auto;
		max-width: 50%;
	}
}

@media (max-width: 360px) {
	.center-form {
		padding-top: 10px;

		margin: 0 1em 0 0;
		max-width: 90%;
	}
}
